<div>
  <div>
    <h1>
      Create New Profile
    </h1>

    <form action="/insert_athlete" method="post">

    <div>
        <label for="name_box">
          Athlete Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="primary_sport_box">
          Primary sport
        </label>

        <input type="text" id="primary_sport_box" name="query_primary_sport">
      </div>

      <div>
        <label for="secondary_sport_box">
          Secondary sport
        </label>

        <input type="text" id="secondary_sport_box" name="query_secondary_sport">
      </div>

      <div>
        <label for="current_college_box">
          Current college
        </label>

        <input type="text" id="current_college_box" name="query_current_college">
      </div>

      <div>
        <label for="previous_college_box">
          Previous college
        </label>

        <input type="text" id="previous_college_box" name="query_previous_college">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year">
      </div>

      <div>
        <label for="college_profile_url_box">
          College profile url
        </label>

        <input type="text" id="college_profile_url_box" name="query_college_profile_url">
      </div>

      <div>
        <label for="insta_url_box">
          Insta url
        </label>

        <input type="text" id="insta_url_box" name="query_insta_url">
      </div>

      <div>
        <label for="tik_tok_url_box">
          Tik tok url
        </label>

        <input type="text" id="tik_tok_url_box" name="query_tik_tok_url">
      </div>

      <div>
        <label for="insta_follower_count_box">
          Insta follower count
        </label>

        <input type="text" id="insta_follower_count_box" name="query_insta_follower_count">
      </div>

      <div>
        <label for="tik_tok_impres_avg_box">
          Tik tok impres avg
        </label>

        <input type="text" id="tik_tok_impres_avg_box" name="query_tik_tok_impres_avg">
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio" rows="3"></textarea>
      </div>

      <div>
        <label for="interests_box">
          Interests
        </label>

        <input type="text" id="interests_box" name="query_interests">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create athlete
      </button>
    </form>
  </div>
</div>
