<h1>Indor<h1>
<p>
<h2>Where athletes and brands connect<h2>

<ul>
  <li>
  <a href="/athletes">
    View All Athletes
    </a>
  </li>

  <li>
  <a href="/brands">
    View All Brands
    </a>
  </li>
</ul>

<p>
<h3> 
  Add
</h3>

<ul>
   </li>
     <a href="/athletes/new">
        Create New Athlete Profile
     </a>
   </li>
  <div>
    </li>
      <a href="/brands/new">
       Create New Brand Profile
     </a>
    </li>
  </ul>
