<h1>Indor<h1>
<p>
<h2>Where athletes and brands connect<h2>

<ul>

  <% if current_user.admin? || current_user.user_type == "brand" %>
  <a href="/athletes">View All Athletes</a>
  <% end %>
    <div>
  <% if current_user.admin? || current_user.user_type == "athlete" %>
  <a href="/brands">View All Brands</a>
    <% end %>
</ul>
