
  <div>
    <h2>
      Add a New Brand Profile
    </h2>

    <form action="/insert_brand" method="post">
      <div>
        <label for="name_box">
          Name:
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="location_box">
          Location:
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="business_type_box">
          Business type:
        </label>

        <input type="text" id="business_type_box" name="query_business_type">
      </div>

      <div>
        <label for="annual_revenue_box">
          Annual revenue:
        </label>

        <input type="text" id="annual_revenue_box" name="query_annual_revenue">
      </div>

      <div>
        <label for="description_box">
          Description:
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="website_url_box">
          Website Link:
        </label>

        <input type="text" id="website_url_box" name="query_website_url">
      </div>

      <div>
        <label for="insta_url_box">
          Instagram Link:
        </label>

        <input type="text" id="insta_url_box" name="query_insta_url">
      </div>

      <div>
        <label for="requirements_box">
          Requirements:
        </label>

        <input type="text" id="requirements_box" name="query_requirements">
      </div>

      <div>
        <label for="logo_box">
          Logo:
        </label>

        <input type="text" id="logo_box" name="query_logo">
      </div>

      <button>
        Create Brand Profile
      </button>
    </form>
  </div>
